executor {
    name = 'sge'
    queueSize = 5
}

process.container = "vibpsb/mini-ex:latest"
singularity {
    enabled = true
    cacheDir = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/hanrui/At/STO_embryo_scRNA/test_MINIEX/singularity_cache"
    autoMounts = true
}

params {
	expressionMatrix = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/hanrui/At/STO_embryo_scRNA/earlyEmbryo/Zygote_Embryo_Suspensor/MINIEX/*_matrix.txt"
	markersOut = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/hanrui/At/STO_embryo_scRNA/earlyEmbryo/Zygote_Embryo_Suspensor/MINIEX/*_allMarkers.txt"
	cell2clusters = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/hanrui/At/STO_embryo_scRNA/earlyEmbryo/Zygote_Embryo_Suspensor/MINIEX/*_cells2clusters.txt"
	cluster2ident = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/hanrui/At/STO_embryo_scRNA/earlyEmbryo/Zygote_Embryo_Suspensor/MINIEX/*_identities.txt"
	TF_list = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/01.Programs/PlantTFDB.Ath_TF_list.txt"
	termsOfInterest = "$baseDir/example/INPUTS/GOsIwant.txt"
	termsOfInterest = null

    grnboostOut = null
	
    doMotifAnalysis = true // set to <false> if no motif mapping data is available [CAUTION: without motif data MINI-EX is less reliable]
	featureFile_motifs = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/data_ath/ath_2021.1_motifMapping.out.gz"
	infoTF = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/data_ath/ath_TF2fam2mot.txt"
	GOfile = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/data_ath/ath_full_BP_expcur_ext_names.txt" //set to <null> if GO data is not available (when doing so, termsOfInterest should also be set to <null>)
    alias = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/data_ath/ath_gene_aliases.txt"
	
	script_enricher = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/enricherv2.4"
	script_checkInput = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_checkInput.py"
	script_grnboost = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_grnboostMultiprocess.py"
	script_motifs = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_filterForMotifs.py"
	script_topDEGs = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_selectTopDEGs.py"
	script_expTFs = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_filterForTFExp.py"
	script_info = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_makeInfoFile.py"
	script_clustermap = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_clustermap.py"
	script_networkCentrality = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_network_analysis.py"
	script_checkReference = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_checkRef.py"
	script_filesEnrichment = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_makeFilesEnrichment.py"	
	script_makedfRef = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_makeRankingDf_ref.py"
	script_makedfStd = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_makeRankingDf_std.py"
    script_makeborda = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_makeBorda.py"
	script_scoreEdges = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_scoreEdges.py"
    script_heatmapTops = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_visual_heatmap_top150.py"
	script_regmaps = "/jdfsbjcas1/ST_BJ/P21Z28400N0234/chenruiying/02.Softwares/MINI-EX/bin/MINIEX_regmap.py"
	
	tops = "700"
	expressionFilter = "10"
	motifFilter = "TF-F_motifs" // To use the motifs of the TF family, specify "TF-F_motifs". To only use the motifs known for a TF, specify "TF_motifs".
	topRegs = "150"
}


process {

    withName: check_input_files {
        clusterOptions = '-l vf=10G,p=1 -P P21Z28400N0234 '
    }
    withName: get_expressed_genes {
        clusterOptions = '-l vf=10G,p=1 -P P21Z28400N0234 '
    }
    withName: run_grnboost {
        clusterOptions = '-l vf=15G,p=1 -P P21Z28400N0234 ' 
    }
    withName: unzip_motifMappings {
        executor='local'
    }
    withName: run_enricher_motifs {
        clusterOptions = '-l vf=4G,p=1 -P P21Z28400N0234 '
    }
    withName: filter_motifs {
        clusterOptions = '-l vf=20G,p=1 -P P21Z28400N0234 '
    }
    withName: filter_motifs_dummy {
        executor='local'
    }
    withName: get_topDEGs {
        clusterOptions = '-l vf=10G,p=1 -P P21Z28400N0234 '
    }
    withName: run_enricher_cluster {
        clusterOptions = '-l vf=4G,p=1 -P P21Z28400N0234 '
    }
    withName: filter_expression {
        clusterOptions = '-l vf=20G,p=1 -P P21Z28400N0234 '
    }
	withName: make_info_file {
        clusterOptions = '-l vf=10G,p=1 -P P21Z28400N0234 '
    }
    withName: network_centrality {
        clusterOptions = '-l vf=20G,p=1 -P P21Z28400N0234 '
    }
    withName: getFiles_enrichment {
        clusterOptions = '-l vf=10G,p=1 -P P21Z28400N0234 '
    }
    withName: GO_enricher {
        clusterOptions = '-l vf=4G,p=1 -P P21Z28400N0234 '
    }
	withName: check_reference {
        clusterOptions = '-l vf=10G,p=1 -P P21Z28400N0234 '
    }
    withName: ranking_df_ref {
        clusterOptions = '-l p=1,vf=10G -P P21Z28400N0234 '
    }
    withName: ranking_df_std {
        clusterOptions = '-l p=1,vf=10G -P P21Z28400N0234 '
    }
    withName: makeBorda {
        clusterOptions = '-l p=1,vf=10G -P P21Z28400N0234 '
    }
    withName: scoreEdges {
        clusterOptions = '-l p=1,vf=15G -P P21Z28400N0234 '
    }
    withName: heatmap_tops {
        clusterOptions = '-l p=1,vf=20G -P P21Z28400N0234 '
    }
    withName: clustermap_regs {
        clusterOptions = '-l p=1,vf=20G -P P21Z28400N0234 '
    }
    withName: regmaps {
        clusterOptions = '-l p=1,vf=20G -P P21Z28400N0234 '
    }
}
